@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*
font-family: 'Barlow Condensed', sans-serif;
font-family: 'DM Sans', sans-serif;
*/

h1, h2, h3, h4, h5 {
    font-family: 'Barlow Condensed';
}

p {
    font-family: 'DM Sans';
}

/* NAVBAR */
.index-navbar{
    background-color: #1B5459;
}

.index-navbar_logo{
    width: 160px;
    margin-left: 10px;
}

.index-navbar li a{
    font-size: 18px;
    color: #ffffff;
    padding-left: 15px;
}

.index-navbar li a:hover{
    background-color: #193D40;
    color: #ffffff;
}

.index-navbar_buttons_div li a{
    justify-content: center;
    font-family: 'Barlow Condensed';
}

.index-navbar li a:focus{
    border-bottom: solid 5px #ffffff;
}

.active{
    background-color: #1B5459;
    border-bottom: solid 1px #ffffff;
    color: #ffffff !important;
    font-weight: 400;
    font-family: 'Barlow Condensed';
}

@media only screen and (min-width: 992px) {
    .index-navbar_buttons_div, .index-navbar_buttons_div li, .index-navbar_buttons_div li a{
        display: flex;
        height: 90.3px;
        align-items: center;
    }
    
    .index-navbar_buttons_div li a{
        width: 140px;
    }
    
    .index-navbar li a:hover{
        height: 90.3px;
        align-items: center;
    }

    .active{
        border-bottom: solid 5px;
    }
}

/* BUTTONS */
.button{
    background-color: #1B5459;
    color: #FFFFFF;
}

.button:hover{
    background-color: #FFF3E0;
    color: #1B5459;
}

/* BODY - INDEX */
.index-body h1{
    font-size: 48px;
}
.index-body section p, .index-body .figure h3{
    font-size: 24px;
}

.index-body .index-body__subtitle, .index-body__contact__title{
    font-size: 20px;
}

.index-body .figure p, .index-body .index-body__contact__p{
    font-size: 16px;
}

.index-body__figure{
    width: 292px;
    height: 260px;
    margin: 8px 8px;
    background-color: #1B5459 !important;
    color: #ffffff;
}

.index-body__hr{
    margin: 63px 0px;
    width: 100px;
    border: solid 4px #1B5459;
    border-radius: 2px;
}

/* CONTACT */
.conctact-body__title{
    font-size: 48px;
    font-weight: 600;
}

.conctact-body__p .contact-subtitle{
    font-size: 20px;
    font-weight: 500;
}

.conctact-body__p .contact-slogan{
    font-size: 20px;
    font-weight: 300;
}

/* FOOTER */

.footer-container{
    background-color: #FFF3E0;
    padding-bottom: 3rem;
    padding-right: 12rem;
    padding-left: 12rem;
}

.footer-container h5 {
    color: #1B5459;
}

.footer-logo{
    width: 10rem;
}

.icono-redsocial{
    width: 1.5rem;
    height: fit-content;
}

/* SECCION DE SERVICIOS */

#servicios{
    padding: 2rem;
}

.servicio-card{
    background-color: #D3D3D3;
    text-align: center;
    width: 30%;
}

/* SECCION DE NUESTRA HISTORIA */

#nosotros{
    text-align: center;
}

.nosotros-texto{
    text-align: justify;
    width: 70%;
    margin: auto;
}

#nosotros-fotografia{
    width: 70%;
}

@media only screen and (max-width: 750px) {

    .servicio-card{
        width: 100%;
    }

    .equipo-card-container{
        flex-wrap: wrap;
    }

    .footer-container{
        background-color: #FFF3E0;
        padding-bottom: 1rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
  }