/* BODY - INDEX */
.index-body h1{
    font-size: 48px;
}
.index-body section p, .index-body .figure h3{
    font-size: 24px;
}

.index-body .index-body__subtitle, .index-body__contact__title{
    font-size: 20px;
}

.index-body .figure p, .index-body .index-body__contact__p{
    font-size: 16px;
}

.index-body__figure{
    width: 292px;
    height: 260px;
    margin: 8px 8px;
}

.index-body__hr{
    margin: 63px 0px;
    width: 100px;
    border-width: 4px;
    border-radius: 2px;
}


/* FOOTER */

.footer-container{
    background-color: #D3D3D3;
}

.footer-logo{
    width: 10rem;
}

.icono-redsocial{
    width: 1.5rem;
    height: fit-content;
}

/* SECCION DE SERVICIOS */

#servicios{
    padding: 2rem;
}

.servicio-card{
    background-color: #D3D3D3;
    text-align: center;
    width: 30%;
}

/* SECCION DE NUESTRA HISTORIA */

#nosotros{
    text-align: center;
}

.nosotros-texto{
    text-align: justify;
    width: 70%;
    margin: auto;
}

#nosotros-fotografia{
    width: 70%;
}

@media only screen and (max-width: 750px) {

    .servicio-card{
        width: 100%;
    }
  }