@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

/*
font-family: 'Barlow Condensed', sans-serif;
font-family: 'DM Sans', sans-serif;
*/
*{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fraunces', serif;font-family: 'Fraunces', serif;
}

p {
    font-family: 'DM Sans';
}

/* NAVBAR */
.index-navbar{
    background-color: #1B5459;
}

.index-navbar_logo{
    width: 160px;
    margin-left: 10px;
}

.index-navbar_logo-small{
    height: 40px;
}

.index-navbar li a{
    font-size: 18px;
    color: #ffffff;
    padding-left: 15px;
}

.index-navbar li a:hover{
    background-color: #193D40;
    color: #ffffff;
}

.index-navbar_buttons_div li a{
    justify-content: center;
    font-family: 'Barlow Condensed';
}

.index-navbar li a:focus{
    border-bottom: solid 5px #ffffff;
}

.active{
    background-color: #1B5459;
    border-bottom: solid 1px #ffffff;
    color: #ffffff !important;
    font-weight: 400;
    font-family: 'Barlow Condensed';
}

@media only screen and (min-width: 992px) {
    .index-navbar_buttons_div, .index-navbar_buttons_div li, .index-navbar_buttons_div li a{
        display: flex;
        height: 90.3px;
        align-items: center;
    }
    
    .index-navbar_buttons_div li a{
        width: 140px;
    }
    
    .index-navbar li a:hover{
        height: 90.3px;
        align-items: center;
    }

    .active{
        border-bottom: solid 5px;
    }
}

/* BUTTONS */
.button{
    background-color: #FFFFFF;
    color: #252525;
    font-weight: bold;
}

.button:hover{
    background-color: #FFF3E0;
    color: #1B5459;
}

/* BODY - INDEX */
.index-section__title{
    height: 680px;
    background-color: #193D40;
}

.index-section__title-effect{
    position: absolute;
    z-index: 1;
}

.index-section__img-principal{
    height: 720px;
    width: 1280px;
    object-fit: cover;
    object-position: top;
}

.index-body h1{
    font-size: 72px;
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #000000;
}

.index-body section p, .index-body .figure h3{
    font-size: 18px;
    color: #FFFFFF;
}

.index-body__section-subtitle{
    /* width: 650px; */
    height: 380px;
}

/* .index-body section .index-body__subtitle{
    font-size: 24px;
} */

.index-body__subtitle-quote{
    min-width: 120px;
    height: 120px;
    color: #1B5459;
    font-size: 48px;
    /* background-color: #252525; */
    background-color: #FFF3E0;
}

.index-body .index-body__subtitle{
    color: #252525;
    font-size: 24px;
    font-family: 'Fraunces', serif;
}


.index-body__section-cards{
    background-color: #FFF3E0;
    height: 737px;
}

.index-body .figure h3 {
    color: #1B5459;
    font-size: 32px;
    margin-top: 32px;
}
.index-body .figure p {
    font-size: 16px;
    color: #000000;
    width: 304px;
}

.index-body__figure{
    width: 384px;
    height: 497px;
    margin: 8px 8px;
    background-color: #FFFFFF !important;
    color: #252525;
}

.index-body__figure img{
    height: 257px;
    width: 384px;
    object-fit: cover;
}

.index-body__section-contact{
    background-color: #1B5459;
    height: 872px;
    color: #FFF3E0;
}

.index-body__contact__title{
    font-size: 48px;
}

.index-body .index-body__contact__p{
    font-size: 16px;
    
}

.index-body__section-contact form button{
    background-color: #FFF3E0;
    color: #1B5459;
    font-weight: bold;
}

.index-body__hr{
    margin: 63px 0px;
    width: 100px;
    border: solid 4px #1B5459;
    border-radius: 2px;
}

@media only screen and (max-width: 992px) {
    .index-body h1{
        font-size: 40px;
    }

    .index-body section p{
        font-size: 16px;
    }

    .index-section__title{
        height: 600px;
    }

    .index-section__img-principal{
        height: 624px;
    }

    .index-body .index-body__subtitle{
        font-size: 16px;
    }

    .index-body__section-cards{
        height: fit-content;
    }
    
}



/* CONTACT */
.contact-section__separator{
    background-color: #193D40;
    height: 40px;
}

.contact-section{
    height: 872px;
}

.contact-section, .contact-section p{
    background-color: #1B5459;
    color: #FFFFFF;
}

.contact-section h1{
    color: #FFF3E0;
}

.contact-section form button{
    background-color: #FFF3E0;
    color: #1B5459;
    font-weight: bold;
}

/* CLIENTES */

.clients-section__title{
    height: 616px;
    background-color: #193D40;
}

.clients-section__title h1{
    font-size: 48px;
    color: #FFF3E0;
}



/* FOOTER */

.footer-container{
    background-color: #FFF3E0;
    padding-bottom: 3rem;
    padding-right: 12rem;
    padding-left: 12rem;
}

.footer-container h5 {
    color: #1B5459;
}

.footer-logo{
    width: 10rem;
}

.icono-redsocial{
    width: 1.5rem;
    height: fit-content;
}

/* SECCION DE SERVICIOS */

#servicios{
    padding: 2rem;
}

.servicio-card{
    background-color: #D3D3D3;
    text-align: center;
    width: 30%;
}

/* SECCION DE NUESTRA HISTORIA */

#nosotros{
    text-align: center;
}

.nosotros-texto{
    text-align: justify;
    width: 70%;
    margin: auto;
}

#nosotros-fotografia{
    width: 70%;
}

@media only screen and (max-width: 750px) {

    .servicio-card{
        width: 100%;
    }

    .equipo-card-container{
        flex-wrap: wrap;
    }

    .footer-container{
        background-color: #FFF3E0;
        padding-bottom: 1rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
  }

@media only screen and (min-width: 751px) and (max-width: 1400px) {
    .footer-container{
        padding-right: 4rem;
        padding-left: 4rem;
    }
}